<html>

<style>
  h1, p{
    font-family: sans-serif;
  }
  h1{
    font-size: 50px;
  }
  .subheading{
    font-size: 30px;
  }
  .titles{
    text-align: center;
    width: 100%;
  }
  .options{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
  }
  .option1{
    vertical-align: middle;
  }
  .my-row{
    margin-top: 40px;
  }
  .padding{
    
  }
  .big{
    font-size: 35px;
    font-weight: 400;
    }
  }
</style>

<body>

<div class = "container">

  <div class = "row my-row">

  <div class = "col-md-2">
  </div>

  <div class = "col-md-4">
    <h1 class = "lead big">CourseAssist</h1>
    <p class = "subheading lead">The personalized course planning platform</p>
  </div>

  <div class = "col-md-4">

    <div class = "option3">
      <h5 class = "padding lead">Enter your uni: </h5>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= form_tag dashboards_path, :class => 'form' do %>
        <div class = "row">
          <div class = "col-md-8">
            <%= text_field :user, 'uni', :class => 'form-control' %>
          </div>
          <div class = "col-md-4">
            <%= submit_tag 'Enter', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <div>
      <%= link_to 'Dont have an account? Sign Up', users_path, :class => 'lead' %>
    </div>

  </div>

  <div class = "col-md-2">
  </div>
  
  </div>
</div>




</body>
</html>
