<html>

<style>
  h3, h4, p{
    font-family: sans-serif;
  }
  h3{
    font-size: 40px;
  }
  .fields{
      display: flex;
      flex-direction: column;
  }
  .field1{
      margin: 20px 0px;
  }
</style>

<%= link_to 'Sign Out', articles_path %>

<h3>Hi, <%= @user.first %> <%= @user.last %>! Welcome to CourseAssist!</h3>
<p>Uni: <%= @user.uni %></p>
<p>Year: <%= @user.year %></p>
<p>School: <%= @user.school %></p>
<p>Major: <%= @user.major %></p>
<p>Minor: <%= @user.minor %></p>

<h4>Current Schedule:</h4>
<% @schedule.each do |s| %>
  <p><%= link_to s.course, courses_path(:id => s.id) %></p>
<% end %>

<h4>Core Requirements:</h4>
<% @school_reqs.each do |sr| %>
  <p><%= link_to sr.course, courses_path(:id => sr.id) %></p>
<% end %>

<h4>Major Requirements:</h4>
<% @major_reqs.each do |mjr| %>
  <p><%= link_to mjr.course, courses_path(:id => mjr.id) %></p>
<% end %>

<% if not @min_reqs =="NA" %>
  <h4>Minor Requirements:</h4>
  <% @minor_reqs.each do |mnr| %>
    <p><%= link_to mnr.course, courses_path(:id => mnr.id) %></p>
  <% end %>
<% end %>

<h4>Search for class</h4>
<%= form_tag(dashboards_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], id: 'searchbar' %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<% @courses.each do |course| %>
  <p><%= link_to course.course, courses_path(:id => course.id) %></p>
  <%= button_to "Add To Schedule", dashboards_path(:id => course.id), method: "put" %> 
<% end %>

</html>