<html>

<style>
  h3, h4, p{
    font-family: sans-serif;
  }
  h3{
    font-size: 40px;
  }
  li {
    margin: 0 10px;
  }
  .fields{
      display: flex;
      flex-direction: column;
  }
  .field1{
      margin: 20px 0px;
  }
  .big{
    margin-top: 40px;
  }
  .inline{
    display: flex;
    flex-direction: row;
  }
  .nav{
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .my-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  .padding{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .bar{
    margin-bottom: 15px;
  }
  .row1{
    height: 450px;
    overflow: scroll;
  }
  .row2{

  }
  .inline{
    display: flex;
    flex-direction: row;
  }
  li{
    list-style-type: none;
  }
  .emphasis{
    color: #404042;
  }
  button, .button{
    width: 100%;
  }
</style>

<div class = "container">

  <ul class = "nav justify-content-end">  
    <li class = "nav-item">
      <%= link_to 'Edit Profile', users_path(:uni => @uni), :class => 'nav-link' %>
    </li>
    <li class = "nav-item">
      <%= link_to 'Sign Out', articles_path, :class => 'nav-link' %>
    </li>
  </ul>

  <h3>Hi, <%= @user.first %> <%= @user.last %>!</h3>

  <div class = "row padding">

  <div class = "col-md-6 row">
    <%= form_tag(dashboards_path, method: :get) do %>
      <div class = "row bar">
        <div class = "col-md-8">
          <%= text_field_tag :search, params[:search], id: 'searchbar', :class => 'form-control' %>
        </div>
        <div class = "col-md-4">
          <%= submit_tag "Search", name: nil, :class => 'btn btn-primary button' %>
        </div>
      </div>
    <% end %>
    <div class = "row1" >
    <% @courses.each do |course| %>
      <div class = "my-row row">
        <div class = "col-md-5 pb-2">
          <p><%= link_to courses_path(:id => course.id) do %> 
          <%= course.course %>
          <% end %></p>
        </div>
        <div class = "col-md-4 pb-2"> 
          <p class = "emphasis"><%= course.time %></p>
        </div>
        <div class = "col-md-3 pb-2">
          <%= button_to "Add", dashboards_path(:id => course.id), method: "put", :class => 'btn btn-outline-primary' %> 
        </div>
      </div>
    <% end %>
    </div>
    </div>

  <div class = "col-md-1">
  </div>

  <div class = "col-md-5 row1">
      <h4>Current Schedule:</h4>
      <p>Monday: </p>
      <ul>
      <% @schedule[0].each do |s| %>
        <div class = "my-row row">
          <div class = "col-md-6">
            <p><%= link_to courses_path(:id => s.id) do %> 
            <%= s.course %>
            <% end %></p>
          </div>
          <div class = "col-md-3"> 
            <p class = "emphasis"><%= s.time.split(' ')[-1] %></p>
          </div>
          <div class = "col-md-3">
            <%= button_to "Remove", dashboards_path(:id => s.id), method: "put", :name => 'remove_from_schedule', :class => 'btn btn-outline-primary'%> 
          </div>
      </div>
        <% end %>
      </ul>
      
      <p>Tuesday: </p>
      <ul>
      <% @schedule[1].each do |s| %>
        <div class = "my-row row">
          <div class = "col-md-6">
            <p><%= link_to courses_path(:id => s.id) do %> 
            <%= s.course %>
            <% end %></p>
          </div>
          <div class = "col-md-3"> 
            <p class = "emphasis"><%= s.time.split(' ')[-1] %></p>
          </div>
          <div class = "col-md-3">
            <%= button_to "Remove", dashboards_path(:id => s.id), method: "put", :name => 'remove_from_schedule', :class => 'btn btn-outline-primary'%> 
          </div>
        </div>
        <% end %>
      </ul>
      
      <p>Wednesday: </p>
      <ul>
      <% @schedule[2].each do |s| %>
        <div class = "my-row row">
          <div class = "col-md-6">
            <p><%= link_to courses_path(:id => s.id) do %> 
            <%= s.course %>
            <% end %></p>
          </div>
          <div class = "col-md-3"> 
            <p class = "emphasis"><%= s.time.split(' ')[-1] %></p>
          </div>
          <div class = "col-md-3">
            <%= button_to "Remove", dashboards_path(:id => s.id), method: "put", :name => 'remove_from_schedule', :class => 'btn btn-outline-primary'%> 
          </div>
        </div>
        <% end %>
      </ul>
      
      <p>Thursday: </p>
      <ul>
      <% @schedule[3].each do |s| %>
        <div class = "my-row row">
          <div class = "col-md-6">
            <p><%= link_to courses_path(:id => s.id) do %> 
            <%= s.course %>
            <% end %></p>
          </div>
          <div class = "col-md-3"> 
            <p class = "emphasis"><%= s.time.split(' ')[-1] %></p>
          </div>
          <div class = "col-md-3">
            <%= button_to "Remove", dashboards_path(:id => s.id), method: "put", :name => 'remove_from_schedule', :class => 'btn btn-outline-primary'%> 
          </div>
        </div>
        <% end %>
      </ul>
      
      <p>Friday: </p>
      <ul>
      <% @schedule[4].each do |s| %>
        <div class = "my-row row">
          <div class = "col-md-6">
            <p><%= link_to courses_path(:id => s.id) do %> 
            <%= s.course %>
            <% end %></p>
          </div>
          <div class = "col-md-3"> 
            <p class = "emphasis"><%= s.time.split(' ')[-1] %></p>
          </div>
          <div class = "col-md-3">
            <%= button_to "Remove", dashboards_path(:id => s.id), method: "put", :name => 'remove_from_schedule', :class => 'btn btn-outline-primary'%> 
          </div>
        </div>
        <% end %>
      </ul>
    </div>

  </div>

  <div class = "row">

      <div class = "col-md-6">
        <h5>Core Requirements:</h5>
        <ul>
        <% @school_reqs.each do |sr| %>
          <div class = "my-row row">
            <div class = "col-md-5 pb-2">
              <p><%= link_to courses_path(:id => sr.id) do %> 
              <%= sr.course %>
              <% end %></p>
            </div>
            <div class = "col-md-4 pb-2"> 
              <p class = "emphasis"><%= sr.time %></p>
            </div>
            <div class = "col-md-3 pb-2">
              <%= button_to "Add", dashboards_path(:id => sr.id), method: "put", :class => 'btn btn-outline-primary' %> 
            </div>
          </div>
        <% end %>
        </ul>

        <h5>Major Requirements:</h5>
        <ul>
        <% @major_reqs.each do |mjr| %>
          <div class = "my-row row">
            <div class = "col-md-5 pb-2">
              <p><%= link_to courses_path(:id => mjr.id) do %> 
              <%= mjr.course %>
              <% end %></p>
            </div>
            <div class = "col-md-4 pb-2"> 
              <p class = "emphasis"><%= mjr.time %></p>
            </div>
            <div class = "col-md-3 pb-2">
              <%= button_to "Add", dashboards_path(:id => mjr.id), method: "put", :class => 'btn btn-outline-primary' %> 
            </div>
          </div>
        <% end %>
        </ul>

        <% if @minor_reqs.length() > 0 %>
          <h5>Minor Requirements:</h5>
          <ul>
          <% @minor_reqs.each do |mnr| %>
            <div class = "my-row row">
              <div class = "col-md-5 pb-2">
                <p><%= link_to courses_path(:id => mnr.id) do %> 
                <%= mnr.course %>
                <% end %></p>
              </div>
              <div class = "col-md-4 pb-2"> 
                <p class = "emphasis"><%= mnr.time %></p>
              </div>
              <div class = "col-md-3 pb-2">
                <%= button_to "Add", dashboards_path(:id => mnr.id), method: "put", :class => 'btn btn-outline-primary' %> 
              </div>
          </div>
          <% end %>
          </ul>
        <% end %>
      </div>


  </div>

  </div>


</html>