<html>

<style>
  h3, h4, p{
    font-family: sans-serif;
  }
  h3{
    font-size: 40px;
  }
  .fields{
      display: flex;
      flex-direction: column;
  }
  .field1{
      margin: 20px 0px;
  }
  .big{
    margin-top: 40px;
  }
  .inline{
    display: flex;
    flex-direction: row;
  }
  .nav{
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .my-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  .padding{
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .bar{
    margin-bottom: 15px;
  }
  .row1{
    height: 450px;
    overflow: scroll;
  }
</style>

<div class = "container">

  <ul class = "nav justify-content-end">  
    <li class = "nav-item">
      <%= link_to 'Sign Out', articles_path, :class => 'nav-link' %>
    </li>
  </ul>

  <h3>Hi, <%= @user.first %> <%= @user.last %>!</h3>

  <div class = "row padding">

  <div class = "col-md-6 row1">
    <%= form_tag(dashboards_path, method: :get) do %>
      <div class = "row bar">
        <div class = "col-md-8">
          <%= text_field_tag :search, params[:search], id: 'searchbar', :class => 'form-control' %>
        </div>
        <div class = "col-md-4">
          <%= submit_tag "Search", name: nil, :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <% @courses.each do |course| %>
      <div class = "my-row row">
        <div class = "col-md-8">
          <p><%= link_to course.course, courses_path(:id => course.id) %></p>
        </div>
        <div class = "col-md-4">
          <%= button_to "Add", dashboards_path(:id => course.id), method: "put", :class => 'btn btn-outline-primary' %> 
        </div>
      </div>
    <% end %>
    </div>

  <div class = "col-md-6 row1">
      <h5>Current Schedule:</h5>
      <% @schedule.each do |s| %>
        <p><%= link_to s.course, courses_path(:id => s.id) %></p>
      <% end %>
    </div>

  </div>

  <div class = "row">

  <div class = "col-md-6">
    <h5>Basic info</h5>
    <p>Uni: <%= @user.uni %></p>
    <p>Year: <%= @user.year %></p>
    <p>School: <%= @user.school %></p>
    <p>Major: <%= @user.major %></p>
    <p>Minor: <%= @user.minor %></p>
    </div>

    

      <div class = "col-md-6">
  <h5>Core Requirements</h5>
  <% @school_reqs.each do |sr| %>
    <p><%= link_to sr.course, courses_path(:id => sr.id) %></p>
  <% end %>

  <h5>Major Requirements</h5>
  <% @major_reqs.each do |mjr| %>
    <p><%= link_to mjr.course, courses_path(:id => mjr.id) %></p>
  <% end %>

  <% if not @min_reqs =="NA" %>
    <h5>Minor Requirements</h5>
    <% @minor_reqs.each do |mnr| %>
      <p><%= link_to mnr.course, courses_path(:id => mnr.id) %></p>
    <% end %>
  <% end %>
  </div>

  </div>

</div>

</html>