<style>
  h3, p{
    font-family: sans-serif;
  }
  h3{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }
  .nav{
    margin-bottom: 20px;
  }
</style>

<div class = "container">

  <ul class = "nav justify-content-end">  
    <li class = "nav-item">
      <%= link_to 'Back to Dashboard', dashboards_path, :class => 'nav-link' %>
    </li>
  </ul>

<div class="row">
  <h3> Details about <em> <%= @course.course %> </em> </h3>
  <p> Professor: <%= @course.prof %> </p>
  <p> Pre-Requirements: <%= @course.preReqs %> </p>
  <p> Course Description: <%= @course.description %> </p>
  <h2> Reviews for this class </h2>
  <% @reviews.each do |review| %>
    <p><%= review %></p>
  <% end %>
</div>
