<h1> Class Details </h1>
<h2> Details about <%= @course.name %> </h2>
<div class="row">
  <h3> Details about <em> <%= @course.course %> </em> </h3>
  <p> Professor: <%= @course.prof %> </p>
  <p> Pre-Requirements: <%= @course.preReqs %> </p>
  <p> Course Description: <%= @course.description %> </p>
</div>
